<ion-view cache-view='false'>
	<ion-content style='background-color: #e7e7e7;'>
		<div id="home">
			<div class="vip_link">
				<ion-slide-box does-continue='true' auto-play='true' on-slide-changed="slideChanged($index)">
					<ion-slide ng-repeat='item in data.banner track by item.title'>
						<img ng-src="{{item.img}}" alt="" ng-click='goLink1(item.link)' />
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
	</ion-content>
	<!--分类导航-->
	<ion-content>
		<ion-list>
			<ion-item>关注</ion-item>
			<ion-item>推荐</ion-item>
			<ion-item>热门</ion-item>
			<ion-item>视频</ion-item>
			<ion-item>季节养生</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
