<ion-view title='消息提醒'>
	<ion-content class='contentBg'>
		<div class="new_message">
			 <p class="nineGray">今日待完成 {{textList.length}} 项</p>
			 <div class="messages Aaa_bottom_thinline" ng-repeat='list in textList' >
			 	<div ng-style="{'background': 'url('+ list.icon + ') no-repeat  center','background-size': '100% 100%'}"></div>
			 	<div>
			 		<p>{{list.title}}</p>
			 		<p class="nineGray">{{list.memo}}</p>
			 	</div>
			 	<div ng-click='go_detail(list.queueId,list.redirect_url)'>
			 		{{list.btn_next_text}}
			 	</div>
			 </div>
			 
		</div>
	</ion-content>
</ion-view>
