* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s linear
}

body,
html {
	margin: 0;
	padding: 0;
	background: #FFF;
	overflow-x: hidden;
	font-size: 14px;
}


/*图标*/

.icon_AQI {
	background: url(../imgs/icon/AQI.png) center center;
}

.icon_city {
	background: url(../imgs/icon/city.png) center center;
}

.icon_condition {
	background: url(../imgs/icon/condition.png) center center;
}

.icon_humidity {
	background: url(../imgs/icon/humidity.png) center center;
}

.icon_temp {
	background: url(../imgs/icon/temp.png) center center;
}

.icon_windDir {
	background: url(../imgs/icon/windDir.png) center center;
}


/*头部*/

.header {}

.header img {
	width: 100%;
	height: auto;
}

.weather {
	margin: 8px 0 0 0;
	color: #2B2B2B;
	padding: 10px 15px;
}

.weather .icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: 20px 20px;
}

.weather .icon {
	vertical-align: -3px;
	margin: 0px 8px;
}

.weather ul {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}

.weather ul li {
	padding: 0px;
	margin: 0px 0px 15px 0px;
}

.weather ul li {
	list-style-type: none;
	width: 30%;
	float: left;
}

.weather ul li.wind,
.weather ul li.city {
	width: auto;
}

.weather .clear {
	clear: both;
}

.content {
	border-top: #F2F2F2 solid 1px
}

.content .html {
	line-height: 30px;
	padding: 15px 20px;
	color: #666;
	font-size: 16px;
}

.content .html img {
	max-widht: 100%;
	height: auto;
}