<ion-view>
	<ion-content>
		<div class="mui-content bg-white">
			<div class="container-box">
				<form> 这里面是input输入框等。。。。</form>
			</div>
			<div class="operate mt30">
				<button class="mui-btn mui-btn-block btn-submit" type="button" id="submitButton">提交</button>
			</div>
	</ion-content>
</ion-view>
<style>
	
html,body{padding: 0;margin: 0;height:100%}
.mui-content{height:100%;display: flex;flex-direction: column;}
.container-box{flex:1;-ms-flex:1;-webkit-flex:1}
.operate {
	position: relative;
    margin:1rem 1rem 3rem;
}
.operate .btn-submit {
    width: 100%;
    border-radius: .2rem;
    height: 2rem;
    color: #fff;
    font-size: .8rem;
    line-height: 1;
    padding: 0;
    letter-spacing: 1px;
    border: 0;
    background-color: #00aaee;
}



</style>