* {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 0;
}

html,
body {
	width: 100%;
	height: auto;
}

body {
	font-size: 14px!important;
}

input {
	border: none;
}

span,
em,
i,
b,
strong,
a {
	display: inline-block;
	vertical-align: middle;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
	margin-top: 0;
}

i {
	color: #59e0e0 !important;
	font-size: 24px !important;
}

div {
	display: block;
	vertical-align: bottom;
	text-align: justify;
}
div.myPopup{
    width: 116px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 18px;
    color: #ffffff;
    margin: 0 auto;
    background-color: #02d06c;
}
div.messagePopup{
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 18px;
    color: #ffffff;
    background-color: #02d06c;
}
div.myPopupWait{
	background-color: #5ad67a;
	color: #fff;
}
.popup-container .popup{
	background-color: white;
    border-radius: 10px;
    width: 75%;
    height: 173px;
}
.popup-buttons{
       padding: 0;
    min-height: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.popup-head{
	border-bottom: none;
	display: none;
}
.popup-body{
	    margin-top: 24px;
    padding: 0 25px;
}
button.button-default{
	background-color: white;
}
button.button-default:nth-of-type(2){
	color: #04A067;
}
button.button-default.activated{
	background-color: transparent;
	border: none;
}
ul {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

a:link {
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

p {
	text-align: center;
}

.over {
	overflow: hidden;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex_ {
	display: flex;
	justify-content: space-around;
}

b,
i,
em,
strong {
	font-style: normal;
	font-weight: normal;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.op {
	opacity: 0;
}

.hide_ {
	display: none!important;
}

.show_ {
	display: block!important;
}

.radius {
	border-radius: 50%;
}

.selected {
	background: url(../img/selected.png) no-repeat center;
	background-size: 100%;
	border: none !important;
}


/*ion-footer*/
.bar-footer {
	height: 48px;
	background-size: 0;
	background-color: #5ad67a;
}
.bar-footer .title {
	color: #fff;
	line-height: 48px;
}
.platform-android .bar .title {
	line-height: 48px;
	color: #fff;
	font-size: 16px;
}


/*完*/

a:active {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}


/*按钮*/

.btn {
	    width: 81%;
    background-color: #5ad67a;
    color: #fbfbfb;
    border-radius: 23px;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
    margin-top: 26px;
}
/*订单按钮*/
/*1.橙色*/
.btn1{
	color:#ff8400 ;
	border: 1px solid #ff8400;
}
/*2.绿色*/
.btn2{
	color: #04A067;
	border: 1px solid #0DAD63;
}

/*3.灰色*/
.btn3{
	color: #999;
	border: 1px solid #999;
}

/*4.红色*/
.btn4{
	color: white;
	background-color: #e85454;
}

/*三级联动*/

.area_ctrl {
	background-color: white !important;
}


/*公共弹框*/
/*宽的*/
.alert {
	width: 79%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border-radius: 24px;
	font-size: 18px;
	position: fixed;
	top: calc(50% - 27.5px);
	left: calc(50% - 39.5%);
	line-height: 50px;
	padding: 0 20px;
	display: none;
	z-index: 1000;
}
/*短的*/
.alertOther{
	    width: 60%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    position: fixed;
    top: calc(50% - 27.5px);
    left: calc(50% - 30%);
    line-height: 50px;
    padding: 0 20px;
     display: none; 
    z-index: 1000;
}
/*灰色背景*/
.contentBg{
	background-color: #ededed;
}
.nineGray{
	color: #999 !important;
}
.lightgray{
	color: #666666 !important;
}

/*底部客服电话*/
.linksys{
	color: #646464;
	font-size: 12px;
	margin-top: 38%;
}
/*切换按钮*/
.toggle{
	margin: 2px 0 0 0 ;
}
/*侧滑删除*/
.item-complex .item-content{
	padding: 13px 30px 13px 16px;
	height: 120px;
}
.item-complex{
	border-bottom: none;
	height: 120px;
}
.button.button-assertive{
	    background-color: #ff6565;
    font-size: 14px;
    writing-mode: tb-rl;
    justify-content: center;
}
/*轮播图高*/
.slider{
	height: 158px;	
}
.slider-pager{
	bottom: 6px !important;
}
.slider-pager .slider-pager-page{
	margin: 0 0px !important;
}
.slider-pager .slider-pager-page i{
	font-size: 6px !important;
}

.slider-pager .slider-pager-page.active i{
	color: #FFFFFF !important;
}
@media (min--moz-device-pixel-ratio: 1.5),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
	.Aaa_bottom_thinline {
		border: none;
		background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
		background-position: bottom;
		background-size: 100% 1px;
		background-repeat: no-repeat;
	}
}
@media (min--moz-device-pixel-ratio: 1.5),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
	.Aaa_top_thinline {
		border: none;
		background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
		background-position: top;
		background-size: 100% 1px;
		background-repeat: no-repeat;
	}
}